{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ recipe_object.title }}
            Scrumptious Recipes
        </title>
        <link rel="stylesheet" href="recipes.css">
    </head>
    <body>
        <header>
            <nav id="nav-background-color">
                <a href="list.html">Main Page</a>
            </nav>
        </header>
        <main>
            <h1 id="header-color">Scrumptious Recipes</h1>
            <h2>All the food that's fit to eat</h2>
            <div id="grid">
                <div>
                    <h3>
                        <a class="Second_link" href="detail.html">Vegetarian Tacos</a>
                    </h3>
                    <img src="vegetariantaco.png" alt="4.3 stars">
                    <div>4.3 stars</div>
                </div>
            </div>
        </main>
        <footer>
            <p>Made with love by Scrumptious Recipes</p>
        </footer>
    </body>
</html>
